.navbar {
  width: 100%;
  padding: 0 30px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 7px 0px #d5d5d5;
  .logo {
    font-size: 30px;
    padding: 5px 10px;
  }
  .navs {
    display: flex;
    .nav {
      padding: 10px 15px;
    }
  }
}
